@charset "UTF-8";
/* CSS Document */

*{
  margin:0;
  padding:0;
}

#wrap{
  background-color: #f5f5dc;
  width: 960px;
  margin: 20 auto;
}

#header{
  background-color: #ffb6c1;
}

#main{
  background-color: #98fb98;
  width: 500px;
  float: right;

}
#side{
  background-color: #87ceeb;
  width: 440px;
  float: left;
}

#footer{
  background-color: #ffd700;
  clear: both;
}